.FaceSelectorScrollView {
    overflow-x: scroll;
}

.FaceSelector {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

img {
    border: 2px solid rgb(181, 179, 179);
    padding: 10px;
    margin: 40px;
    border-radius: 10px;
    max-width: 10rem;
    max-height: 10rem;
}

img.selected {
    border: 2px solid rgb(33, 94, 134);
    background-color: rgb(130, 167, 199);
}
