#poll-selector {
    width: 50%;
    height: 1.5em;
    border-radius: 0.25em;
    border: 1px solid #ccc;
    padding: 0.25em;
    font-size: 1.25em;
    font-family: 'Roboto', sans-serif;
}

.poll-selector-container {
    padding: 0.75rem;
}

.maori-electorate-seat-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0.5rem;
}

.maori-electorate-seat-layout label {
    padding-right: 2.5rem;
    font-size: 1.25em;
}

.maori-electorate-seat-layout input[type=number] {
    width: 5em;
    border-radius: 0.25em;
    border: 1px solid #ccc;
    padding: 0.25em;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
